@page "/"

<PageTitle>Home</PageTitle>

@if (AppData.IsLoggedIn)
{
    <main>
        <section>
            <h2>Willkommen</h2>
            <p>Entdecken Sie unsere Dienstleistungen und lassen Sie sich von der Qualität unserer Arbeit überzeugen.</p>
        </section>
        <section>
            <h2>Unsere Leistungen</h2>
            <ul>
                <li>Webdesign</li>
                <li>Online Marketing</li>
                <li>SEO Optimierung</li>
            </ul>
        </section>
    </main>
}
else
{
    <Login/>
}
