.overlay-container[b-v7zj62cdtr]{
    position: relative;
}

.form-content[b-v7zj62cdtr] {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.form-content input[type="text"][b-v7zj62cdtr], .form-content button[b-v7zj62cdtr] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.form-content input[type="text"][b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

.form-content button[b-v7zj62cdtr] {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-content button:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form[b-v7zj62cdtr] {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

form input[type="text"][b-v7zj62cdtr], form button[b-v7zj62cdtr] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form input[type="text"][b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form button[b-v7zj62cdtr] {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form input[type="checkbox"][b-v7zj62cdtr],
form label[b-v7zj62cdtr] {
    cursor: pointer;
    margin: 10px 5px;
}

form input[type="submit"][b-v7zj62cdtr] {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    form[b-v7zj62cdtr] {
        width: 90%;
    }
}