main[b-njdb5kfj9p] {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

section[b-njdb5kfj9p] {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}