/* Winchallenge.razor.css */

body[b-cy0jp6a2iq] {
    color: #000;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    background-image: url("./Images/pexels-wildshots-19982636.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

div[b-cy0jp6a2iq] {
    margin: 1em;
}

label[b-cy0jp6a2iq] {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

a[b-cy0jp6a2iq] {
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover[b-cy0jp6a2iq] {
    color: #fff;
}

p[b-cy0jp6a2iq] {
    font-size: 1.1em;
    color: #000;
}

h3[b-cy0jp6a2iq] {
    font-size: 2em;
    color: #000;
    font-weight: bold;
}

.line-through[b-cy0jp6a2iq] {
    text-decoration: line-through;
}

ul li a[b-cy0jp6a2iq] {
    color: #000;
    text-decoration: none;
}

ul li a:hover[b-cy0jp6a2iq] {
    color: #fff;
}
