/* _content/CaelumWebsite/Components/Layout/MainLayout.razor.rz.scp.css */
body[b-ncjlk3w97n] {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    background-image: url("./Images/pexels-wildshots-19982636.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


header[b-ncjlk3w97n] {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

header a[b-ncjlk3w97n] {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

header a:hover[b-ncjlk3w97n] {
    color: #eee;
}

.header-logo[b-ncjlk3w97n] {
    width: 120px;
    transition: transform 0.3s ease;
}

.header-logo:hover[b-ncjlk3w97n] {
    transform: scale(1.1);
}


nav ul[b-ncjlk3w97n] {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li a[b-ncjlk3w97n] {
    font-size: 1.2em;
    font-weight: 500;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover[b-ncjlk3w97n] {
    background-color: #fff;
    color: #000;
}

footer[b-ncjlk3w97n] {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    header[b-ncjlk3w97n] {
        padding: 20px 10px;
    }

    nav ul[b-ncjlk3w97n] {
        flex-direction: column;
    }

    nav ul li[b-ncjlk3w97n] {
        margin-bottom: 10px;
    }
}
/* _content/CaelumWebsite/Components/Pages/CreateWinchallenge.razor.rz.scp.css */
.overlay-container[b-v7zj62cdtr]{
    position: relative;
}

.form-content[b-v7zj62cdtr] {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.form-content input[type="text"][b-v7zj62cdtr], .form-content button[b-v7zj62cdtr] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.form-content input[type="text"][b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

.form-content button[b-v7zj62cdtr] {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-content button:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form[b-v7zj62cdtr] {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

form input[type="text"][b-v7zj62cdtr], form button[b-v7zj62cdtr] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form input[type="text"][b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form button[b-v7zj62cdtr] {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

form input[type="checkbox"][b-v7zj62cdtr],
form label[b-v7zj62cdtr] {
    cursor: pointer;
    margin: 10px 5px;
}

form input[type="submit"][b-v7zj62cdtr] {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover[b-v7zj62cdtr] {
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    form[b-v7zj62cdtr] {
        width: 90%;
    }
}
/* _content/CaelumWebsite/Components/Pages/EditWinchallenge.razor.rz.scp.css */
/* _content/CaelumWebsite/Components/Pages/Home.razor.rz.scp.css */
main[b-njdb5kfj9p] {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

section[b-njdb5kfj9p] {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}
/* _content/CaelumWebsite/Components/Pages/Winchallenge.razor.rz.scp.css */
/* Winchallenge.razor.css */

body[b-cy0jp6a2iq] {
    color: #000;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    background-image: url("./Images/pexels-wildshots-19982636.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

div[b-cy0jp6a2iq] {
    margin: 1em;
}

label[b-cy0jp6a2iq] {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

a[b-cy0jp6a2iq] {
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover[b-cy0jp6a2iq] {
    color: #fff;
}

p[b-cy0jp6a2iq] {
    font-size: 1.1em;
    color: #000;
}

h3[b-cy0jp6a2iq] {
    font-size: 2em;
    color: #000;
    font-weight: bold;
}

.line-through[b-cy0jp6a2iq] {
    text-decoration: line-through;
}

ul li a[b-cy0jp6a2iq] {
    color: #000;
    text-decoration: none;
}

ul li a:hover[b-cy0jp6a2iq] {
    color: #fff;
}
