@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase
<body>
<header>
    <a href="">
        <img src="./Images/Logo.png" alt="Logo der Firma" class="header-logo">
    </a>
    <nav>
        <ul>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="winchallenge">Winchallenge</a>
                </li>
                <li>
                    <a href="tournaments">Tuniere</a>
                </li>
                <li>
                    <a href="projects">Projekte</a>
                </li>
                <li>
                    <a href="about">Über uns</a>
                </li>
                <li>
                    <a href="contact">Kontakt</a>
                </li>

            </ul>
        </ul>
    </nav>
</header>

@Body

<footer>
    <p>© 2024 Ihre Firma. Alle Rechte vorbehalten.</p>
</footer>
</body>

@code {


}